In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('F:/Statistics/Data/blood_pressure.csv')
df

     Unnamed: 0  patient     sex agegrp  bp_before  bp_after
0             0        1    Male  30-45        143       153
1             1        2    Male  30-45        163       170
2             2        3    Male  30-45        153       168
3             3        4    Male  30-45        153       142
4             4        5    Male  30-45        146       141
..          ...      ...     ...    ...        ...       ...
115         115      116  Female    60+        152       152
116         116      117  Female    60+        161       152
117         117      118  Female    60+        165       174
118         118      119  Female    60+        149       151
119         119      120  Female    60+        185       163

[120 rows x 6 columns]

In [5]:
df.describe()

       Unnamed: 0     patient   bp_before    bp_after
count  120.000000  120.000000  120.000000  120.000000
mean    59.500000   60.500000  156.450000  151.358333
std     34.785054   34.785054   11.389845   14.177622
min      0.000000    1.000000  138.000000  125.000000
25%     29.750000   30.750000  147.000000  140.750000
50%     59.500000   60.500000  154.500000  149.500000
75%     89.250000   90.250000  164.000000  161.000000
max    119.000000  120.000000  185.000000  185.000000

In [3]:
from sklearn.preprocessing import StandardScaler
scaling=StandardScaler()

In [4]:
scaling.fit_transform(df[['bp_before','bp_after']])

array([[-1.18582775,  0.11627831],
       [ 0.57748489,  1.32037861],
       [-0.30417143,  1.17871975],
       [-0.30417143, -0.66284541],
       [-0.92133085, -0.73367484],
       [-0.56866833, -0.30869826],
       [-0.74499959, -1.30031027],
       [-0.30417143, -0.73367484],
       [-0.30417143, -1.44196913],
       [ 0.13665673, -1.86694571],
       [-0.65683396,  0.89540203],
       [ 1.45914121,  0.54125489],
       [ 0.75381615, -1.15865141],
       [-1.00949649,  0.54125489],
       [-1.18582775,  0.11627831],
       [-0.39233706, -1.79611628],
       [-1.36215901,  0.75374318],
       [ 1.7236381 , -1.22948084],
       [-1.18582775, -1.08782198],
       [ 0.48931926, -0.09620997],
       [-0.65683396,  1.17871975],
       [-0.03967453,  0.25793717],
       [-0.48050269, -1.08782198],
       [ 0.22482236, -1.3711397 ],
       [ 0.66565052,  0.61208432],
       [-0.2160058 ,  0.61208432],
       [-0.39233706, -1.08782198],
       [-1.27399338,  2.24116119],
       [ 0.48931926,  0.04544888],
       [-0.12784017,  0.75374318],
       [ 1.63547247, -0.02538055],
       [ 2.42896316, -0.8753337 ],
       [ 0.93014742,  1.67452576],
       [-0.74499959,  2.31199062],
       [ 1.19464431, -0.02538055],
       [ 0.22482236,  1.39120804],
       [-0.65683396,  0.39959603],
       [-1.45032464,  0.54125489],
       [ 2.51712879, -0.80450427],
       [ 0.31298799,  1.60369633],
       [ 0.0484911 ,  1.10789032],
       [ 0.13665673,  0.47042546],
       [ 0.48931926,  1.17871975],
       [ 0.31298799,  0.54125489],
       [ 2.07630063,  0.11627831],
       [-0.12784017,  0.89540203],
       [ 1.37097558,  1.24954918],
       [ 0.0484911 , -0.23786883],
       [ 1.28280994,  2.38282005],
       [ 1.19464431,  0.82457261],
       [ 1.63547247, -0.37952769],
       [ 1.63547247,  0.61208432],
       [ 1.37097558,  1.67452576],
       [ 1.45914121,  0.82457261],
       [ 1.19464431,  2.38282005],
       [ 0.66565052, -0.37952769],
       [-0.83316522,  1.74535519],
       [-0.2160058 , -0.30869826],
       [ 1.37097558,  0.68291375],
       [ 0.48931926,  0.89540203],
       [-0.39233706, -0.1670394 ],
       [-0.83316522, -0.66284541],
       [-1.09766212, -0.37952769],
       [-1.09766212, -0.94616313],
       [ 0.13665673, -1.44196913],
       [-0.83316522, -0.45035712],
       [-0.2160058 , -1.22948084],
       [-0.48050269, -1.15865141],
       [-0.65683396, -1.44196913],
       [-1.62665591, -1.15865141],
       [ 0.48931926, -1.30031027],
       [ 0.0484911 , -1.15865141],
       [-1.36215901,  1.17871975],
       [ 0.93014742, -0.52118655],
       [-0.83316522, -0.30869826],
       [-1.18582775, -0.02538055],
       [-1.27399338, -0.1670394 ],
       [ 0.84198178, -0.30869826],
       [-0.83316522, -0.1670394 ],
       [-1.27399338, -1.15865141],
       [ 0.0484911 , -1.72528685],
       [ 1.19464431, -0.09620997],
       [-0.56866833, -0.94616313],
       [-0.56866833, -0.30869826],
       [ 0.93014742,  0.39959603],
       [-0.2160058 , -0.37952769],
       [-1.18582775, -0.23786883],
       [ 0.0484911 , -1.08782198],
       [-0.65683396, -0.37952769],
       [ 0.40115363, -1.3711397 ],
       [-1.27399338, -0.45035712],
       [ 0.48931926, -1.3711397 ],
       [-1.09766212,  0.39959603],
       [-1.27399338, -0.80450427],
       [ 0.22482236, -1.01699256],
       [-1.45032464,  0.18710774],
       [-1.09766212,  1.24954918],
       [-1.27399338, -0.45035712],
       [-1.00949649, -1.01699256],
       [-1.00949649, -0.59201598],
       [ 1.01831305,  1.88701404],
       [-1.27399338, -0.73367484],
       [-0.83316522, -0.1670394 ],
       [-0.74499959, -0.23786883],
       [ 0.48931926, -0.94616313],
       [ 1.19464431, -0.59201598],
       [ 1.45914121,  1.10789032],
       [-0.48050269,  0.47042546],
       [-0.12784017,  0.04544888],
       [ 0.57748489,  0.18710774],
       [ 2.34079753,  0.68291375],
       [ 0.22482236, -0.59201598],
       [-0.74499959,  0.54125489],
       [-0.48050269,  1.81618462],
       [ 0.75381615, -0.66284541],
       [-0.39233706,  0.04544888],
       [ 0.40115363,  0.04544888],
       [ 0.75381615,  1.60369633],
       [-0.65683396, -0.02538055],
       [ 2.51712879,  0.82457261]])