In [1]:
ages=[10,30,20,30,20,35,35,67,87,45,34,16,55,17,16,65,19,10,43,23,67,30,34,72,81,35,67,87,45,34,16]

In [2]:
len(ages)

31

In [3]:
import numpy as np
np.mean(ages)

40.16129032258065

In [4]:
sample_size=10
sample_age=np.random.choice(ages,sample_size)
sample_age

array([81, 34, 35, 55, 16, 17, 17, 17, 19, 16])

In [5]:
from scipy.stats import ttest_1samp

In [6]:
ttest,p_value=ttest_1samp(sample_age,40)

In [7]:
print(p_value)

0.21052186708904164

In [8]:
if p_value<0.05:
    print('we are rejecting our null hypo')
else:
    print('we are accepting null hypo')

we are accepting null hypo

#### 2 sample t_test

In [9]:
import numpy as np
import scipy.stats as stats

In [10]:
classa_height=stats.poisson.rvs(mu=30,size=60)
classb_height=stats.poisson.rvs(mu=33,size=60)

In [11]:
classa_height

array([29, 22, 24, 25, 38, 29, 35, 34, 31, 33, 33, 31, 23, 34, 30, 33, 24,
       28, 33, 23, 22, 20, 20, 23, 20, 24, 34, 34, 31, 23, 30, 42, 37, 25,
       22, 33, 20, 34, 36, 24, 27, 37, 28, 36, 39, 26, 35, 37, 29, 21, 27,
       29, 30, 22, 36, 38, 28, 33, 33, 27])

In [12]:
np.mean(classa_height)

29.4

In [13]:
np.mean(classb_height)

31.116666666666667

In [14]:
from scipy.stats import ttest_ind

In [15]:
t_test,p_value=ttest_ind(a=classa_height,b=classb_height,equal_var=False)
p_value

0.11799312644658214

In [16]:
if p_value<0.05:
    print('we are rejecting our null hypo')
else:
    print('we are accepting null hypo')

we are accepting null hypo

#### Paired T_test

In [17]:
import pandas as pd

In [18]:
df=pd.read_csv('F:\Statistics\Data/Blood_pressure.csv')
df

     Unnamed: 0  patient     sex agegrp  bp_before  bp_after
0             0        1    Male  30-45        143       153
1             1        2    Male  30-45        163       170
2             2        3    Male  30-45        153       168
3             3        4    Male  30-45        153       142
4             4        5    Male  30-45        146       141
..          ...      ...     ...    ...        ...       ...
115         115      116  Female    60+        152       152
116         116      117  Female    60+        161       152
117         117      118  Female    60+        165       174
118         118      119  Female    60+        149       151
119         119      120  Female    60+        185       163

[120 rows x 6 columns]

In [20]:
df[['bp_before','bp_after']].describe()

        bp_before    bp_after
count  120.000000  120.000000
mean   156.450000  151.358333
std     11.389845   14.177622
min    138.000000  125.000000
25%    147.000000  140.750000
50%    154.500000  149.500000
75%    164.000000  161.000000
max    185.000000  185.000000

##### H0->u=0
#### H1-> u=/0

In [21]:
from scipy.stats import ttest_rel

In [23]:
t,p_value=ttest_rel(df['bp_before'],df['bp_after'])
p_value

0.0011297914644840823

In [24]:
if p_value<0.05:
    print('we are rejecting our null hypo')
else:
    print('we are accepting null hypo')

we are rejecting our null hypo

#### 156+-11.45
#### 151.358333+-14.17